In [4]:
import pandas as pd
df_dataset = pd.read_csv('dataset7.csv')
print(df_dataset)

   UPDATED ENTRY_DATE EVENT_LCL_DATE EVENT_LCL_TIME LOC_CITY_NAME  \
0       No  19-FEB-16      19-FEB-16      00:45:00Z    MARSHVILLE
1       No  19-FEB-16      18-FEB-16      23:55:00Z     TAVERNIER
2       No  19-FEB-16      18-FEB-16      22:14:00Z       TRENTON
3       No  19-FEB-16      18-FEB-16      17:10:00Z     ASHEVILLE
4       No  19-FEB-16      18-FEB-16      00:26:00Z     TALKEETNA
..     ...        ...            ...            ...           ...
78      No  08-FEB-16      31-DEC-15      17:00:00Z   SAN ANTONIO
79      No  08-FEB-16      05-FEB-16      11:17:00Z      MARICOPA
80      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
81      No  08-FEB-16      05-FEB-16      23:02:00Z     SAN PEDRO
82     Yes  02-FEB-16      02-FEB-16      01:52:00Z        MOBILE

    LOC_STATE_NAME LOC_CNTRY_NAME  \
0   North Carolina            NaN
1          Florida            NaN
2       New Jersey            NaN
3   North Carolina            NaN
4           Alaska            NaN
..             ...            ...
78           Texas            NaN
79         Arizona            NaN
80      California            NaN
81      California            NaN
82         Alabama            NaN

                                             RMK_TEXT EVENT_TYPE_DESC  \
0   AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...        Accident
1   AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...        Incident
2   AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...        Incident
3   AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...        Incident
4   AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...        Incident
..                                                ...             ...
78  AIRCRAFT ON LANDING, GROUND LOOPED, BULVERDE A...        Accident
79  AIRCRAFT CRASHED UNDER UNKNOWN CIRCUMSTANCES, ...        Accident
80  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
81  N9872R, BEECH M35 AIRCRAFT, AND N5057G, BELLAN...        Accident
82  N784CP AIRCRAFT CRASHED INTO A WOODED AREA NEA...        Accident

                   FSDO_DESC  ... PAX_INJ_NONE PAX_INJ_MINOR PAX_INJ_SERIOUS  \
0      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
1          FAA Miami FSDO-19  ...          NaN           NaN             NaN
2   FAA Philadelphia FSDO-17  ...          NaN           NaN             NaN
3      FAA Charlotte FSDO-68  ...          NaN           NaN             NaN
4      FAA Anchorage FSDO-03  ...          NaN           1.0             NaN
..                       ...  ...          ...           ...             ...
78   FAA San Antonio FSDO-17  ...          NaN           NaN             NaN
79    FAA Scottsdale FSDO-07  ...          NaN           NaN             NaN
80    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
81    FAA Long Beach FSDO-05  ...          NaN           NaN             NaN
82    FAA Birmingham FSDO-09  ...          NaN           NaN             NaN

   PAX_INJ_FATAL PAX_INJ_UNK  GRND_INJ_NONE GRND_INJ_MINOR GRND_INJ_SERIOUS  \
0            NaN         NaN            NaN            NaN              NaN
1            NaN         NaN            NaN            NaN              NaN
2            NaN         NaN            NaN            NaN              NaN
3            NaN         NaN            NaN            NaN              NaN
4            NaN         NaN            NaN            NaN              NaN
..           ...         ...            ...            ...              ...
78           NaN         NaN            NaN            NaN              NaN
79           NaN         NaN            NaN            NaN              NaN
80           NaN         NaN            NaN            NaN              NaN
81           NaN         NaN            NaN            NaN              NaN
82           NaN         NaN            NaN            NaN              NaN

   GRND_INJ_FATAL  GRND_INJ_UNK
0             NaN           NaN
1             NaN           NaN
2             NaN           NaN
3             NaN           NaN
4             NaN           NaN
..            ...           ...
78            NaN           NaN
79            NaN           NaN
80            NaN           NaN
81            NaN           NaN
82            NaN           NaN

[83 rows x 42 columns]

In [5]:
df_dataset.shape

(83, 42)

In [7]:
#view first 5 observations
df_dataset.head(5)

,UPDATED,ENTRY_DATE,EVENT_LCL_DATE,EVENT_LCL_TIME,LOC_CITY_NAME,LOC_STATE_NAME,LOC_CNTRY_NAME,RMK_TEXT,EVENT_TYPE_DESC,FSDO_DESC,...,PAX_INJ_NONE,PAX_INJ_MINOR,PAX_INJ_SERIOUS,PAX_INJ_FATAL,PAX_INJ_UNK,GRND_INJ_NONE,GRND_INJ_MINOR,GRND_INJ_SERIOUS,GRND_INJ_FATAL,GRND_INJ_UNK
0,No,19-FEB-16,19-FEB-16,00:45:00Z,MARSHVILLE,North Carolina,NaN,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",Accident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,No,19-FEB-16,18-FEB-16,23:55:00Z,TAVERNIER,Florida,NaN,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,Incident,FAA Miami FSDO-19,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,No,19-FEB-16,18-FEB-16,22:14:00Z,TRENTON,New Jersey,NaN,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",Incident,FAA Philadelphia FSDO-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,No,19-FEB-16,18-FEB-16,17:10:00Z,ASHEVILLE,North Carolina,NaN,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",Incident,FAA Charlotte FSDO-68,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,No,19-FEB-16,18-FEB-16,00:26:00Z,TALKEETNA,Alaska,NaN,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",Incident,FAA Anchorage FSDO-03,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#view all columns
df_dataset.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [9]:
#extract the following attributes from the dataset
#Aircraft make name
#State name
#Aircraft model name
#Text information
#Flight phase
#Event description type
#Fatal flag

In [10]:
#Create a new dataframe with only the required columns
#YOU WERE SUPPOSED TO USE THE ABOVE GROUPS
df_analyze_dataset = df_dataset[['ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL','CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',]]

In [11]:
#View the type of the object
type(df_analyze_dataset)

pandas.core.frame.DataFrame

In [12]:
#Check if the dataframe contains all the required attributes

In [19]:
#Replace all Fatal Flag missing values with the required output
df_analyze_dataset['FLT_ACTIVITY'].fillna(value='No',inplace=True)

C:\Users\mantechi\anaconda3\lib\site-packages\pandas\core\generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [20]:
#Verify if the missing values are replaced
df_analyze_dataset.head()

,ACFT_DMG_DESC,FLT_ACTIVITY,FLT_PHASE,FAR_PART,MAX_INJ_LVL,CBN_CRW_INJ_FATAL,CBN_CRW_INJ_UNK,PAX_INJ_NONE,PAX_INJ_MINOR
0,Unknown,No,UNKNOWN (UNK),NaN,Fatal,NaN,NaN,NaN,NaN
1,Unknown,No,LANDING (LDG),NaN,None,NaN,NaN,NaN,NaN
2,Minor,No,APPROACH (APR),NaN,None,NaN,NaN,NaN,NaN
3,Unknown,No,LANDING (LDG),NaN,None,NaN,NaN,NaN,NaN
4,Minor,No,LANDING (LDG),NaN,Minor,NaN,NaN,NaN,1.0

In [21]:
#Check the number of observations
df_analyze_dataset.shape

(83, 9)

In [23]:
#Drop the unwanted values/observations from the dataset
df_final_dataset = df_analyze_dataset.dropna(subset=['ACFT_DMG_DESC'])

In [24]:
#Check the number of observations now to compare it with the original dataset and see how many values have been dropped
df_final_dataset.shape

(82, 9)

In [27]:
#Group the dataset by aircraft name
#from HERE THEY USED DF_FINAL_DATASET SINCE HE HAD THESPECIFIC GROUPS
aircraftType = df_dataset.groupby('ACFT_MAKE_NAME')

In [28]:
#View the number of times each aircraft type appears in the dataset (Hint: use the size() method)
aircraftType.size()

ACFT_MAKE_NAME
AERO COMMANDER             1
AERONCA                    1
AEROSTAR INTERNATIONAL     1
AIRBUS                     1
BEECH                      9
BELL                       2
BOEING                     3
CESSNA                    23
CHAMPION                   2
CHRISTEN                   1
CONSOLIDATED VULTEE        1
EMBRAER                    1
ENSTROM                    1
FAIRCHILD                  1
FLIGHT DESIGN              1
GLOBE                      1
GREAT LAKES                1
GRUMMAN                    1
GULFSTREAM                 1
HUGHES                     1
LANCAIR                    2
MAULE                      1
MOONEY                     4
NORTH AMERICAN             1
PIPER                     10
PITTS                      1
SAAB                       1
SABRELINER                 1
SOCATA                     2
VANS                       1
dtype: int64

In [29]:
#Group the dataset by fatal flag
fatalAccidents = df_dataset.groupby('FATAL_FLAG')

In [31]:
#View the total number of fatal and non-fatal accidents
fatalAccidents.size()

FATAL_FLAG
Yes    8
dtype: int64

In [32]:
accidents_with_fataliities = fatalAccidents.get_groupby('Yes')

AttributeError: 'DataFrameGroupBy' object has no attribute 'get_groupby'

In [ ]:
#Create a new dataframe to view only the fatal accidents (Fatal Flag values = Yes)